.wrapper {
  width: 344px;
  margin: 56px auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    width: 290px;
  }
  @media (max-width: 424px) {
    width: 200px;
  }

  .pageChange {
    width: 24px;
    height: 24px;
    background: none;
    border: none;

    .buttonIconInc {
      width: 20px;
      height: 20px;
      stroke: #3a80ba;
    }
    .arrowDisabled {
      stroke: #f1f1f1;
    }
    .buttonIconDec {
      width: 20px;
      height: 20px;
      stroke: #3a80ba;
    }
  }

  .paginationBtn {
    width: 272px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #1a1a1a;
    @media (max-width: 767px) {
      width: 230px;
    }
    @media (max-width: 424px) {
      width: 150px;
    }

    .paginationItem {
      width: 48px;
      height: 48px;
      background: none;
      border: 2px solid #f1f1f1;
      border-radius: 8px;

      @media (max-width: 767px) {
        font-size: 12px;
        width: 35px;
        height: 35px;
      }
      @media (max-width: 424px) {
        font-size: 10px;
        width: 20px;
        height: 20px;
      }
      &:focus {
        background: #3a80ba;
      }
    }
  }
}
