.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  min-height: 750px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
